<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ygd.lostandfound">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/iconabc"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivityTest"
            android:configChanges="keyboardHidden|orientation|screenSize">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".StartActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".FlushActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewsDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".MyGivesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".MyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".GivesDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".OnlineHelpActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".MyCSDNActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".LoseActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".PickCardActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".PickFirActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".PubSuccActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".ThanksActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".MyMessageActivity" />
        <activity android:name=".MyPubActivity" />
        <activity android:name=".MessageStuActivity" />
        <activity android:name=".MyAgreeActivity"></activity>
    </application>

</manifest>